<!-- <html>
  <body>
    <a routerLink="/home" routerLinkActive="active" *ngIf="isActive('/home')">Go to Home</a>
    <a routerLink="/about" routerLinkActive="active" *ngIf="isActive('/about')">Go to About</a>

    <router-outlet></router-outlet>

    <footer></footer>
  </body>
</html> -->



<!-- <div class="text">
  <p>APP COMPONENT HTML WORKS</p>
  
  <a routerLink="/users">GO TO USERS BROSKI</a>
  <br><br>
  <a routerLink="/home">GO TO HOME</a>
  <br><br>
  <a routerLink="/not-found">NOT FOUND</a>
  
</div> -->

<!-- <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"> Home page</a> -->
<app-menu></app-menu>
<router-outlet></router-outlet>


