<app-moving-backround></app-moving-backround>
<div class="login-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
    <a routerLink="/user-profile" id="lgn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      LOG IN
    </a>
    <div routerLink="/sign-up" class="sign">Sign Up</div> <!-- SIGN UP ON LOGIN FORM -->
  </form>
</div>