Name: {{userSharedService.newUser.firstName}}
<br>
Last name: {{userSharedService.newUser.lastName}}
<br>
Username: {{userSharedService.newUser.username}}
<br>
Password: {{userSharedService.newUser.password}}
<br>
<br>
=======================================
<br>
Bank name: {{userSharedService.newUser.bankAccount.bankName}}
<br>
Account number: {{userSharedService.newUser.bankAccount.accountNumber}}
<br>
Balance: {{userSharedService.newUser.bankAccount.balance}}
<br>
<br>
========================================================
<br>
<br>
Card holder: {{userSharedService.newUser.card.cardHolder}}
<br>
Card number: {{userSharedService.newUser.card.cardNumber}}
<br>
Card experation: {{userSharedService.newUser.card.expiration}}
<br>
Security code: {{userSharedService.newUser.card.securityCode}}

