<app-moving-backround></app-moving-backround>
<div class="login-box">
  <h2>SIGN UP</h2>
  <p class="free">Almost there, just one more step.</p>
  <form>
    <div class="user-box">
      <input type="text" name="bankName" [(ngModel)]="userSharedService.newUser.bankAccount.bankName" required>
      <label>Bank Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="accountNumber" [(ngModel)]="userSharedService.newUser.bankAccount.accountNumber" required>
      <label>Account Number</label>
    </div>
    <div class="user-box">
      <input type="text" name="balance" [(ngModel)]="userSharedService.newUser.bankAccount.balance" required> <!-- TYPE="TEXT"  NASTHA DUHET NUMBER--->
      <label>Balance</label>
    </div>
    <a routerLink="/card-info" id="lgn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      CONTINUE {{userSharedService.newUser.lastName}}
    </a>
  </form>
</div>
