<input class="invisible" type="radio" name="tab" id="1" checked>
<input class="invisible" type="radio" name="tab" id="2">
<input class="invisible" type="radio" name="tab" id="3">
<input class="invisible" type="radio" name="tab" id="4">
<input class="invisible" type="radio" name="tab" id="5">
<div class="nav">
  <div class="brand" id="brand">
    <p id="brand" routerLink="/home">PAYWISE</p>
  </div>
  <label for="1" class="item" routerLink="/home">Home</label>
  <label for="2" class="item" routerLink="/login">Log In</label>
  <label for="3" class="item" routerLink="/sign-up">Sign Up</label>
</div>

