<input class="invisible" type="radio" name="tab" id="1" checked>
<input class="invisible" type="radio" name="tab" id="2">
<input class="invisible" type="radio" name="tab" id="3">
<input class="invisible" type="radio" name="tab" id="4">
<input class="invisible" type="radio" name="tab" id="5">
<div class="nav">
  <p class="static-item grow invisible">Logo here</p>
  <label for="1" class="item" routerLink="/home">Home</label>
  <label for="2" class="item" routerLink="/users">Users</label>
  <label for="3" class="item" routerLink="/not-found">Not Found</label>
  <label for="4" class="item" routerLink="/login">Log In</label>
  <label for="5" class="item" routerLink="/sign-up">Sign Up</label>
</div>


<!-- <nav>
	<a routerLinkActive="active" routerLink="/home">Home</a>
	<a routerLinkActive="active" routerLink="/users">Users</a>
	<a routerLinkActive="active" routerLink="/not-found">NotFound</a>
	<a routerLinkActive="active" routerLink="/card-info">Card INFO</a>
	<a routerLinkActive="active" routerLink="/login">Log IN</a>
	<div class="animation start-home"></div>
</nav> -->
